import React, { ReactElement } from 'react';

import classNames from 'classnames';

import { COMPONENT_PREFIX } from '@lumx/react/constants';
import { handleBasicClasses } from '@lumx/core/utils';
import { IGenericProps, getRootClassName } from 'LumX/react/utils';

/////////////////////////////

/**
 * Defines the props of the component.
 */
interface I<%= componentName %>Props extends IGenericProps {}
type <%= componentName %>Props = I<%= componentName %>Props;

/////////////////////////////

/////////////////////////////
//                         //
//    Public attributes    //
//                         //
/////////////////////////////

/**
 * The display name of the component.
 */
const COMPONENT_NAME = `${COMPONENT_PREFIX}<%= componentName %>`;

/**
 * The default class name and classes prefix for this component.
 */
const CLASSNAME = getRootClassName(COMPONENT_NAME);

/**
 * The default value of props.
 */
const DEFAULT_PROPS: Partial<<%= componentName %>Props> = {};

/////////////////////////////

/**
 * [Enter the description of the component here].
 *
 * @return The component.
 */
const <%= componentName %>: React.FC<<%= componentName %>Props> = (props: <%= componentName %>Props): ReactElement => {
    const { children, className, ...forwardedProps } = props;

    return (
        <div
            className={classNames(
                className,
                handleBasicClasses({
                    prefix: CLASSNAME,
                }),
            )}
            {...forwardedProps}
        >
            {children}
        </div>
    );
};
<%= componentName %>.displayName = COMPONENT_NAME;

/////////////////////////////

export { CLASSNAME, DEFAULT_PROPS, <%= componentName %>, <%= componentName %>Props };
